{"openapi":"3.1.0","info":{"title":"හිත (Hitha) API Documentation","description":"REST API specifications and documentation for the Hitha digital mental health platform.","version":"1.0.0"},"servers":[{"url":"https://hitha-server.beetlecode.com/api/v1","description":"Generated server url"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"Utility - File Uploads","description":"Utility endpoints for file uploads (profile pictures, SLMC license files, certificates)"},{"name":"General Auth","description":"Shared authentication utilities (OTP dispatch, token refresh, logout, password resets)"},{"name":"Doctor Profiles","description":"Endpoints for authenticated doctors to fetch, update, and manage their profiles and online status"},{"name":"Session Documents","description":"Endpoints for ephemeral document sharing during live consultation sessions"},{"name":"Doctor Blocked Dates","description":"Endpoints for doctors to block scheduling availability for vacations or leave"},{"name":"Admin Price Request Management","description":"Endpoints for administrators to list, approve, or reject price requests"},{"name":"Doctor Availability","description":"Endpoints for doctors to configure their slots templates and schedule availability"},{"name":"Admin Blogs","description":"Administrative endpoints for reviewing and managing mental health articles"},{"name":"Bookings","description":"Endpoints for creating slot bookings and retrieving patient appointments"},{"name":"Doctor Auth","description":"Endpoints for doctor registration, login, and forgot password"},{"name":"Admin Auth","description":"Endpoints for Admin authentication, password resets, and registration"},{"name":"Public Blogs","description":"Public and authenticated endpoints for mental health articles discovery, publishing, and interaction"},{"name":"User Security Settings","description":"Endpoints for authenticated users (doctors/patients/admins) to update their contact details"},{"name":"Admin Profiles","description":"Endpoints for administrators to review and manage doctor registration applications and statuses"},{"name":"Doctor Discovery","description":"Public/Patient-facing endpoints for searching, filtering, and viewing doctor public profiles"},{"name":"Doctor Price Requests","description":"Endpoints for doctors to submit and view custom price request history"},{"name":"Payment Webhooks","description":"Endpoints for PayHere server-to-server notifications"},{"name":"Admin Management","description":"Endpoints for Super Admin to manage sub-admins"},{"name":"Sessions","description":"Endpoints for joining consultation rooms and managing session-level state"},{"name":"Payment","description":"Endpoints for retrieving signed gateway checkout parameters"}],"paths":{"/doctors/me":{"get":{"tags":["Doctor Profiles"],"summary":"Get Doctor Summary","description":"Retrieves a summary of the logged-in doctor's profile (e.g. name, rating, status).","operationId":"getProfile","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDoctorMeResponse"}}}}}},"put":{"tags":["Doctor Profiles"],"summary":"Update Doctor Profile Details","description":"Updates profile fields such as name, bio, languages, and degree documents for the logged-in doctor.","operationId":"updateProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DoctorProfileUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDoctorProfileResponse"}}}}}},"delete":{"tags":["Doctor Profiles"],"summary":"Delete Doctor Profile","description":"Hard-deletes the doctor's profile and deactivates the user account.","operationId":"deleteProfile","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/blogs/{id}":{"get":{"tags":["Public Blogs"],"summary":"Get Blog Article Details","description":"Retrieves the full content and details of a specific blog post by ID.","operationId":"getBlog","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBlogDetailResponse"}}}}}},"put":{"tags":["Public Blogs"],"summary":"Update Blog Post","description":"Updates the content of an existing blog draft or submits it for review.","operationId":"updateBlog","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlogCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBlogSaveResponse"}}}}}}},"/webhooks/payhere":{"post":{"tags":["Payment Webhooks"],"summary":"PayHere Payment Notification Webhook","description":"Receives asynchronous payment status notifications from PayHere.","operationId":"handlePayHereNotification","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"form":{"type":"object","additionalProperties":{"type":"string"}}},"required":["form"]}}}},"responses":{"200":{"description":"OK"}}}},"/webhooks/livekit":{"post":{"tags":["live-kit-webhook-controller"],"operationId":"handle","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/webhook+json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/profiles/phone/update-verify":{"post":{"tags":["User Security Settings"],"summary":"Verify Phone Number Update","description":"Verifies the OTP sent to the new phone number and saves the updated phone number to the profile.","operationId":"verifyPhoneUpdate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PhoneUpdateVerifyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/profiles/phone/update-request":{"post":{"tags":["User Security Settings"],"summary":"Request Phone Number Update","description":"Initiates a phone number change. Dispatches an OTP verification code to the new phone number.","operationId":"requestPhoneUpdate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PhoneUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/patients/bookings":{"get":{"tags":["Bookings"],"summary":"Get My Bookings","description":"Retrieves all consultation appointments booked by the authenticated patient user.","operationId":"getMyBookings","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListBookingResponse"}}}}}},"post":{"tags":["Bookings"],"summary":"Create Slot Booking (Checkout)","description":"Public endpoint to book available consultation slots. Auto-provisions the patient profile and auth user if they don't exist.","operationId":"createBooking","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBookingResponse"}}}}}}},"/patients/bookings/{id}/sessions/join":{"post":{"tags":["Sessions"],"summary":"Patient Join Session","description":"Generates a LiveKit video token and room URL for the authenticated patient.","operationId":"joinAsPatient","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSessionTokenResponse"}}}}}}},"/patients/bookings/{id}/session/documents":{"get":{"tags":["Session Documents"],"summary":"Patient List Session Documents","description":"Lists all documents uploaded during the active session.","operationId":"listAsPatient","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListSessionDocumentResponse"}}}}}},"post":{"tags":["Session Documents"],"summary":"Patient Upload Ephemeral Document","description":"Uploads a private file to share with the doctor during an active session.","operationId":"uploadAsPatient","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSessionDocumentResponse"}}}}}}},"/files/upload":{"post":{"tags":["Utility - File Uploads"],"summary":"Upload File","description":"Uploads a multipart file (e.g. image, PDF) to the configured storage provider (Local/S3/Cloudinary) and returns the public URL.","operationId":"uploadFile","parameters":[{"name":"folder","in":"query","required":false,"schema":{"type":"string","default":"uploads"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/doctors/slots":{"post":{"tags":["Doctor Availability"],"summary":"Configure Slots & Weekly Templates","description":"Allows a doctor to update their weekly availability configurations and generate actual time slots.","operationId":"configureSlots","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AvailabilityConfigRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/doctors/sessions/{bookingId}/join":{"post":{"tags":["Sessions"],"summary":"Doctor Join Session","description":"Generates a LiveKit video token and room URL for the assigned doctor.","operationId":"joinAsDoctor","parameters":[{"name":"bookingId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSessionTokenResponse"}}}}}}},"/doctors/sessions/{bookingId}/documents":{"get":{"tags":["Session Documents"],"summary":"Doctor List Session Documents","description":"Lists all documents uploaded during the active session.","operationId":"listAsDoctor","parameters":[{"name":"bookingId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListSessionDocumentResponse"}}}}}},"post":{"tags":["Session Documents"],"summary":"Doctor Upload Ephemeral Document","description":"Uploads a private file to share with the patient during an active session.","operationId":"uploadAsDoctor","parameters":[{"name":"bookingId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSessionDocumentResponse"}}}}}}},"/doctors/price-requests":{"get":{"tags":["Doctor Price Requests"],"summary":"Get Price Request History","description":"Allows a doctor to view their own price requests history","operationId":"getPriceRequestHistory","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListPriceRequestResponse"}}}}}},"post":{"tags":["Doctor Price Requests"],"summary":"Submit Price Request","description":"Allows a doctor to request a new custom slot price","operationId":"submitPriceRequest","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PriceRequestCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePriceRequestResponse"}}}}}}},"/doctors/me/complete-profile":{"post":{"tags":["Doctor Profiles"],"summary":"Complete Doctor Profile (Onboarding)","description":"Saves onboarding info such as bio, gender, languages, and qualifications to mark the profile complete.","operationId":"completeProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DoctorProfileCompletionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDoctorProfileResponse"}}}}}}},"/doctors/blocked-dates":{"get":{"tags":["Doctor Blocked Dates"],"summary":"Get Blocked Dates","description":"Retrieves a list of all currently blocked dates for the authenticated doctor.","operationId":"getBlockedDates","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListDoctorBlockedDate"}}}}}},"post":{"tags":["Doctor Blocked Dates"],"summary":"Add Blocked Date","description":"Blocks a specific date for a doctor, cancelling any unbooked slots on that date.","operationId":"addBlockedDate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlockedDateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDoctorBlockedDate"}}}}}}},"/doctor/register":{"post":{"tags":["Doctor Auth"],"summary":"Register Doctor Profile","description":"Registers a new doctor profile in PENDING_VERIFICATION state. Requires SLMC license details if Consultant.","operationId":"registerDoctor","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DoctorRegRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUUID"}}}}}}},"/doctor/login":{"post":{"tags":["Doctor Auth"],"summary":"Doctor Login","description":"Authenticates a doctor using credentials (email/phone and password). Rejects login if status is PENDING_APPROVAL or SUSPENDED.","operationId":"loginDoctor","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DoctorLoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDoctorLoginResponse"}}}}}}},"/doctor/forgot-password":{"post":{"tags":["Doctor Auth"],"summary":"Doctor Forgot Password Reset","description":"Resets the doctor's password using the OTP code received via email and revokes all active sessions.","operationId":"forgotDoctorPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DoctorForgotPasswordRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/dev/bookings/{id}/confirm":{"post":{"tags":["dev-booking-controller"],"operationId":"confirm","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/dev/bookings/quick-slot":{"post":{"tags":["dev-booking-controller"],"operationId":"quickSlot","parameters":[{"name":"doctorEmail","in":"query","required":false,"schema":{"type":"string","default":"doctor1@hitha.lk"}},{"name":"minutes","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringObject"}}}}}}},"/blogs":{"get":{"tags":["Public Blogs"],"summary":"Get Public Blogs","description":"Retrieves a paginated, filtered, and sorted list of published mental health articles.","operationId":"getBlogs","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["DRAFT","PENDING_REVIEW","PUBLISHED","REJECTED","SUSPENDED"]}},{"name":"topic","in":"query","required":false,"schema":{"type":"string"}},{"name":"authorId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListBlogResponse"}}}}}},"post":{"tags":["Public Blogs"],"summary":"Create Blog Post","description":"Creates a new blog post as a DRAFT or submits it directly for administrator review.","operationId":"createBlog","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlogCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBlogSaveResponse"}}}}}}},"/blogs/{id}/share":{"post":{"tags":["Public Blogs"],"summary":"Track Article Share","description":"Increments and logs the share count for a specific blog article.","operationId":"trackShare","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBlogShareResponse"}}}}}}},"/blogs/{id}/like":{"post":{"tags":["Public Blogs"],"summary":"Toggle Like on Article","description":"Toggles the like status of a blog article for the authenticated user.","operationId":"toggleLike","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBlogLikeResponse"}}}}}}},"/auth/verify-reset-token":{"post":{"tags":["General Auth"],"summary":"Verify Password Reset Token","description":"Checks whether a password reset token is valid and has not expired.","operationId":"verifyResetToken","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyResetTokenRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/auth/verify-code":{"post":{"tags":["General Auth"],"summary":"Verify OTP Code & Log In (Patient)","description":"Verifies SMS OTP code and returns access/refresh JWT tokens if successful.","operationId":"verifyCode","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyCodeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVerifyCodeResponse"}}}}}}},"/auth/send-code":{"post":{"tags":["General Auth"],"summary":"Send OTP Code (Patient)","description":"Sends a new SMS verification code to a patient for passwordless login.","operationId":"sendCode","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendCodeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/auth/reset-password":{"post":{"tags":["General Auth"],"summary":"Reset Password with Token","description":"Resets the user's password using a verified email token and signs out all active sessions.","operationId":"resetPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResetPasswordRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/auth/refresh":{"post":{"tags":["General Auth"],"summary":"Refresh JWT Tokens","description":"Generates a new pair of access and refresh tokens using a valid refresh token.","operationId":"refresh","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefreshTokenRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAuthResponse"}}}}}}},"/auth/logout":{"post":{"tags":["General Auth"],"summary":"Log Out Session","description":"Logs out the user by revoking the specified refresh token in the database.","operationId":"logout","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefreshTokenRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/auth/logout-all":{"post":{"tags":["General Auth"],"summary":"Log Out All Devices","description":"Revokes all active refresh tokens for the authenticated user.","operationId":"logoutAll","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/auth/forgot-password":{"post":{"tags":["General Auth"],"summary":"Request Password Reset Link (Doctor/Admin)","description":"Dispatches a password reset URL/token to the user's registered email address.","operationId":"forgotPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForgotPasswordRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/admin/verify-code":{"post":{"tags":["Admin Auth"],"summary":"Verify Admin SMS OTP / Email Token","description":"Verifies SMS OTP code or Email link UUID token to mark contact information verified.","operationId":"verifyAdminCode","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyCodeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVerifyCodeResponse"}}}}}}},"/admin/send-code":{"post":{"tags":["Admin Auth"],"summary":"Send Admin SMS OTP","description":"Dispatches a new SMS verification code to the Administrator's phone number.","operationId":"sendAdminCode","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendCodeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/admin/register":{"post":{"tags":["Admin Auth"],"summary":"Register Admin Profile","description":"Registers a new Administrator using a valid invitation token.","operationId":"registerAdmin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminRegRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAdminRegResponse"}}}}}}},"/admin/price-requests/{id}/reject":{"post":{"tags":["Admin Price Request Management"],"summary":"Reject Price Request","description":"Rejects a pending price request with a given reason","operationId":"rejectPriceRequest","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PriceRequestRejectRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePriceRequestResponse"}}}}}}},"/admin/price-requests/{id}/approve":{"post":{"tags":["Admin Price Request Management"],"summary":"Approve Price Request","description":"Approves a pending price request and updates future available slot pricing","operationId":"approvePriceRequest","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePriceRequestResponse"}}}}}}},"/admin/login":{"post":{"tags":["Admin Auth"],"summary":"Admin Login","description":"Authenticates an Administrator using credentials (email/phone and password).","operationId":"loginAdmin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminLoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAdminLoginResponse"}}}}}}},"/admin/invite":{"post":{"tags":["Admin Auth"],"summary":"Invite New Admin","description":"Generates and returns an invitation token for a new Administrator.","operationId":"inviteAdmin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminInviteRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/admin/invite/resend":{"post":{"tags":["Admin Management"],"summary":"Resend Admin Invitation","description":"Resends an active administrator invitation and returns the email and expiration info.","operationId":"resendInvitation","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResendInvitationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAdminResendInviteResponse"}}}}}}},"/admin/forgot-password":{"post":{"tags":["Admin Auth"],"summary":"Admin Forgot Password Reset","description":"Resets the Admin password using an email verification token and invalidates active sessions.","operationId":"forgotAdminPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminForgotPasswordRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/admin/doctors/{id}/status":{"post":{"tags":["Admin Profiles"],"summary":"Change Doctor Status (Unified)","description":"Changes a doctor's active status (e.g. SUSPENDED, ACTIVE), and logs out any active JWT sessions if suspended.","operationId":"changeDoctorStatus","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"status","in":"query","required":true,"schema":{"type":"string"}},{"name":"reason","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/admin/doctors/{id}/reject":{"post":{"tags":["Admin Profiles"],"summary":"Reject Doctor Application","description":"Rejects a doctor's pending registration application, changing status to REJECTED and adding rejection reason.","operationId":"rejectDoctor","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DoctorRejectionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/admin/doctors/{id}/approve":{"post":{"tags":["Admin Profiles"],"summary":"Approve Doctor Application","description":"Approves a doctor's pending registration application, changing status to ACTIVE.","operationId":"approveDoctor","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/admin/blogs/{id}/reject":{"post":{"tags":["Admin Blogs"],"summary":"Reject Blog Post","description":"Rejects a pending blog post, changing its status back to DRAFT and providing rejection notes.","operationId":"rejectBlog","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlogRejectRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/admin/blogs/{id}/approve":{"post":{"tags":["Admin Blogs"],"summary":"Approve Blog Post","description":"Approves a pending blog post, changing its status to PUBLISHED and making it visible publicly.","operationId":"approveBlog","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/patients/bookings/{id}/session/identity":{"patch":{"tags":["Sessions"],"summary":"Toggle Patient Identity Sharing","description":"Patient can reveal or conceal their display name to the doctor during a session.","operationId":"toggleIdentity","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdentityToggleRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/doctors/status":{"patch":{"tags":["Doctor Profiles"],"summary":"Update Doctor Online/Availability Status","description":"Updates the doctor's availability status (e.g. ACTIVE, SUSPENDED).","operationId":"updateStatus","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DoctorStatusUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDoctorProfileResponse"}}}}}}},"/doctors/me/profile-picture":{"patch":{"tags":["Doctor Profiles"],"summary":"Update Doctor Profile Picture URL","description":"Sets/updates the profile picture image URL for the logged-in doctor.","operationId":"updateProfilePicture","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DoctorProfilePictureRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDoctorMeResponse"}}}}}}},"/admin/suspend/{id}":{"patch":{"tags":["Admin Management"],"summary":"Suspend Administrator","description":"Suspends an administrator account to block their API access.","operationId":"suspendAdmin","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAdminSuspendResponse"}}}}}}},"/admin/role/{id}":{"patch":{"tags":["Admin Management"],"summary":"Update Admin Role","description":"Updates an existing administrator's operational role and revokes active sessions.","operationId":"updateAdminRole","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminRoleUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAdminRoleUpdateResponse"}}}}}}},"/admin/activate/{id}":{"patch":{"tags":["Admin Management"],"summary":"Activate/Unsuspend Administrator","description":"Lifts the suspension on an administrator account to restore their access.","operationId":"activateAdmin","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/session/documents/{id}/view":{"get":{"tags":["Session Documents"],"summary":"View Shared Document (Inline)","description":"Streams the private document with Content-Disposition inline for browser viewing.","operationId":"viewDocument","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}}}}},"/session/documents/{id}/download":{"get":{"tags":["Session Documents"],"summary":"Download Shared Document","description":"Streams the private document as an attachment. Doctor is forbidden from downloading patient-uploaded documents.","operationId":"downloadDocument","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}}}}},"/patients/doctors":{"get":{"tags":["Doctor Discovery"],"summary":"Discover/Search Doctors","description":"Retrieves a paginated list of active doctors matching optional search criteria (name, category, language, gender, price).","operationId":"discoverDoctors","parameters":[{"name":"name","in":"query","required":false,"schema":{"type":"string"}},{"name":"category","in":"query","required":false,"schema":{"type":"string"}},{"name":"language","in":"query","required":false,"schema":{"type":"string"}},{"name":"gender","in":"query","required":false,"schema":{"type":"string"}},{"name":"minPrice","in":"query","required":false,"schema":{"type":"number"}},{"name":"maxPrice","in":"query","required":false,"schema":{"type":"number"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListDoctorCardResponse"}}}}}}},"/patients/doctors/{id}":{"get":{"tags":["Doctor Discovery"],"summary":"Get Doctor Public Details","description":"Retrieves the public profile details and available slots of a doctor for patient-facing discovery.","operationId":"getDoctorDetail","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDoctorDetailResponse"}}}}}}},"/patients/bookings/{id}/payment":{"get":{"tags":["Payment"],"summary":"Get Booking Checkout Parameters","description":"Retrieves fresh signed gateway checkout parameters to retry payment for a pending booking.","operationId":"getBookingPaymentParams","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCheckoutParams"}}}}}}},"/notifications/subscribe":{"get":{"tags":["sse-controller"],"operationId":"subscribe","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SseEmitter"}}}}}}},"/doctors/me/profile":{"get":{"tags":["Doctor Profiles"],"summary":"Get Doctor Full Profile Details","description":"Retrieves the full profile details, SLMC details, and certification links of the logged-in doctor.","operationId":"getFullProfile","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDoctorProfileResponse"}}}}}}},"/admin/users":{"get":{"tags":["Admin Management"],"summary":"Get Admin Users & Invitations","description":"Retrieves a paginated list of administrator accounts and active invitations, filtered by status or name.","operationId":"getAdminUsers","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageAdminUserResponse"}}}}}}},"/admin/price-requests":{"get":{"tags":["Admin Price Request Management"],"summary":"List Price Requests","description":"Fetch price requests, optionally filtered by status","operationId":"getPriceRequests","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string","default":"PENDING","enum":["PENDING","APPROVED","REJECTED"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListPriceRequestResponse"}}}}}}},"/admin/doctors":{"get":{"tags":["Admin Profiles"],"summary":"Get Doctor Applications/Profiles","description":"Retrieves a paginated list of doctor profiles, filtered by status or name search.","operationId":"getDoctors","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["PENDING_APPROVAL","ACTIVE","SUSPENDED","PAUSED","REJECTED"]}},{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageDoctorSummaryResponse"}}}}}}},"/admin/doctors/{id}":{"get":{"tags":["Admin Profiles"],"summary":"Get Doctor Details (Admin)","description":"Retrieves the full profile details of a doctor by ID.","operationId":"getDoctor","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDoctorProfileResponse"}}}}}}},"/admin/blogs/pending":{"get":{"tags":["Admin Blogs"],"summary":"Get Pending Blogs","description":"Retrieves a paginated list of blog articles submitted by doctors awaiting admin approval.","operationId":"getPendingBlogs","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListBlogResponse"}}}}}}},"/doctors/blocked-dates/{id}":{"delete":{"tags":["Doctor Blocked Dates"],"summary":"Remove Blocked Date","description":"Deletes a blocked date entry and restores the doctor's weekly template slots for that date.","operationId":"deleteBlockedDate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}}},"components":{"schemas":{"DoctorProfileUpdateRequest":{"type":"object","properties":{"firstName":{"type":"string","maxLength":100,"minLength":0},"lastName":{"type":"string","maxLength":100,"minLength":0},"profilePicture":{"type":"string"},"professionalBio":{"type":"string"},"slmcLicenseNumber":{"type":"string"},"email":{"type":"string","format":"email"},"gender":{"type":"string"},"languages":{"type":"array","items":{"type":"string"},"uniqueItems":true},"qualifications":{"type":"array","items":{"type":"string"},"uniqueItems":true},"documents":{"type":"array","items":{"type":"string"},"uniqueItems":true}}},"ApiResponseDoctorProfileResponse":{"type":"object","properties":{"success":{"type":"boolean"},"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/DoctorProfileResponse"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ValidationError"}},"debug":{"$ref":"#/components/schemas/DebugInfo"}}},"DebugInfo":{"type":"object","properties":{"requestMethod":{"type":"string"},"requestPath":{"type":"string"},"requestHeaders":{"type":"object","additionalProperties":{"type":"string"}},"requestBody":{},"responseHeaders":{"type":"object","additionalProperties":{"type":"string"}},"queryParams":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}},"executionTimeMs":{"type":"integer","format":"int64"},"timestamp":{"type":"string","format":"date-time"}}},"DoctorProfileResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"authUserId":{"type":"string","format":"uuid"},"email":{"type":"string"},"phoneNumber":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"profilePicture":{"type":"string"},"slmcLicenseNumber":{"type":"string"},"professionalBio":{"type":"string"},"status":{"type":"string"},"gender":{"type":"string"},"category":{"type":"string"},"languages":{"type":"array","items":{"type":"string"},"uniqueItems":true},"qualifications":{"type":"array","items":{"type":"string"},"uniqueItems":true},"documents":{"type":"array","items":{"type":"string"},"uniqueItems":true},"isProfileComplete":{"type":"boolean"},"isMobileNumberVerified":{"type":"boolean"},"isEmailVerified":{"type":"boolean"},"approvedCustomPriceLkr":{"type":"number"}}},"PaginationMeta":{"type":"object","properties":{"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"}}},"ValidationError":{"type":"object","properties":{"field":{"type":"string"},"message":{"type":"string"}}},"BlogCreateRequest":{"type":"object","properties":{"title":{"type":"string","minLength":1},"content":{"type":"string","minLength":1},"coverImage":{"type":"string"},"topics":{"type":"array","items":{"type":"string"},"uniqueItems":true},"submitForReview":{"type":"boolean"}},"required":["content","title"]},"ApiResponseBlogSaveResponse":{"type":"object","properties":{"success":{"type":"boolean"},"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/BlogSaveResponse"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ValidationError"}},"debug":{"$ref":"#/components/schemas/DebugInfo"}}},"BlogSaveResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["DRAFT","PENDING_REVIEW","PUBLISHED","REJECTED","SUSPENDED"]}}},"PhoneUpdateVerifyRequest":{"type":"object","properties":{"newPhoneNumber":{"type":"string","minLength":1},"code":{"type":"string","minLength":1}},"required":["code","newPhoneNumber"]},"ApiResponseVoid":{"type":"object","properties":{"success":{"type":"boolean"},"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{},"pagination":{"$ref":"#/components/schemas/PaginationMeta"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ValidationError"}},"debug":{"$ref":"#/components/schemas/DebugInfo"}}},"PhoneUpdateRequest":{"type":"object","properties":{"newPhoneNumber":{"type":"string","minLength":1}},"required":["newPhoneNumber"]},"BookingRequest":{"type":"object","properties":{"slotIds":{"type":"array","items":{"type":"string","format":"uuid"},"minItems":1},"phoneNumber":{"type":"string","minLength":1},"nic":{"type":"string","minLength":1},"email":{"type":"string"},"name":{"type":"string","minLength":1},"appointmentForSomeoneElse":{"type":"boolean"},"extraTimeBooked":{"type":"boolean"}},"required":["name","nic","phoneNumber","slotIds"]},"ApiResponseBookingResponse":{"type":"object","properties":{"success":{"type":"boolean"},"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/BookingResponse"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ValidationError"}},"debug":{"$ref":"#/components/schemas/DebugInfo"}}},"BookingResponse":{"type":"object","properties":{"bookingId":{"type":"string","format":"uuid"},"slotIds":{"type":"array","items":{"type":"string","format":"uuid"}},"status":{"type":"string"},"lockedUntil":{"type":"string","format":"date-time"},"checkout":{"$ref":"#/components/schemas/CheckoutParams"},"name":{"type":"string"},"nic":{"type":"string"},"email":{"type":"string"},"appointmentForSomeoneElse":{"type":"boolean"},"totalPriceLkr":{"type":"number"},"extraTimeBooked":{"type":"boolean"}}},"CheckoutParams":{"type":"object","properties":{"gateway":{"type":"string","enum":["PAYHERE"]},"method":{"type":"string","enum":["POST","REDIRECT"]},"actionUrl":{"type":"string"},"fields":{"type":"object","additionalProperties":{"type":"string"}},"orderId":{"type":"string"},"amount":{"type":"number"},"currency":{"type":"string"}}},"ApiResponseSessionTokenResponse":{"type":"object","properties":{"success":{"type":"boolean"},"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/SessionTokenResponse"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ValidationError"}},"debug":{"$ref":"#/components/schemas/DebugInfo"}}},"SessionTokenResponse":{"type":"object","properties":{"livekitToken":{"type":"string"},"livekitUrl":{"type":"string"},"roomName":{"type":"string"},"sessionEndsAt":{"type":"string","format":"date-time"},"shareIdentity":{"type":"boolean"}}},"ApiResponseSessionDocumentResponse":{"type":"object","properties":{"success":{"type":"boolean"},"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/SessionDocumentResponse"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ValidationError"}},"debug":{"$ref":"#/components/schemas/DebugInfo"}}},"SessionDocumentResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"bookingId":{"type":"string","format":"uuid"},"uploadedBy":{"type":"string"},"fileName":{"type":"string"},"fileSize":{"type":"integer","format":"int64"},"mimeType":{"type":"string"},"uploadedAt":{"type":"string","format":"date-time"}}},"ApiResponseString":{"type":"object","properties":{"success":{"type":"boolean"},"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"string"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ValidationError"}},"debug":{"$ref":"#/components/schemas/DebugInfo"}}},"AvailabilityConfigRequest":{"type":"object","properties":{"templates":{"type":"array","items":{"$ref":"#/components/schemas/TemplateRequest"}},"customSlots":{"type":"array","items":{"$ref":"#/components/schemas/CustomSlotRequest"}}}},"CustomSlotRequest":{"type":"object","properties":{"startTime":{"type":"string","format":"date-time"},"endTime":{"type":"string","format":"date-time"}},"required":["endTime","startTime"]},"TemplateRequest":{"type":"object","properties":{"dayOfWeek":{"type":"integer","format":"int32","maximum":7,"minimum":1},"startTime":{"type":"string"},"endTime":{"type":"string"}},"required":["dayOfWeek","endTime","startTime"]},"PriceRequestCreateRequest":{"type":"object","properties":{"requestedPriceLkr":{"type":"number","minimum":0},"reason":{"type":"string"}},"required":["requestedPriceLkr"]},"ApiResponsePriceRequestResponse":{"type":"object","properties":{"success":{"type":"boolean"},"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PriceRequestResponse"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ValidationError"}},"debug":{"$ref":"#/components/schemas/DebugInfo"}}},"PriceRequestResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"doctorId":{"type":"string","format":"uuid"},"requestedPriceLkr":{"type":"number"},"reason":{"type":"string"},"status":{"type":"string"},"evaluatedBy":{"type":"string","format":"uuid"},"evaluatedAt":{"type":"string","format":"date-time"},"rejectionReason":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"DoctorProfileCompletionRequest":{"type":"object","properties":{"professionalBio":{"type":"string","minLength":1},"gender":{"type":"string","minLength":1},"languages":{"type":"array","items":{"type":"string"},"minItems":1,"uniqueItems":true},"qualifications":{"type":"array","items":{"type":"string"},"minItems":1,"uniqueItems":true}},"required":["gender","languages","professionalBio","qualifications"]},"BlockedDateRequest":{"type":"object","properties":{"startTime":{"type":"string","format":"date-time"},"endTime":{"type":"string","format":"date-time"},"reason":{"type":"string"}},"required":["endTime","startTime"]},"ApiResponseDoctorBlockedDate":{"type":"object","properties":{"success":{"type":"boolean"},"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/DoctorBlockedDate"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ValidationError"}},"debug":{"$ref":"#/components/schemas/DebugInfo"}}},"AuthUser":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"createdAt":{"type":"string","format":"date-time"},"modifiedAt":{"type":"string","format":"date-time"},"createdBy":{"type":"string"},"modifiedBy":{"type":"string"},"email":{"type":"string"},"passwordHash":{"type":"string"},"phoneNumber":{"type":"string"},"role":{"type":"string","enum":["PATIENT","DOCTOR","ADMIN","SUPER_ADMIN","CONTENT_ADMIN","FINANCIAL_ADMIN"]},"otpCode":{"type":"string"},"otpExpiresAt":{"type":"string","format":"date-time"},"otpAttempts":{"type":"integer","format":"int32"},"status":{"type":"string","enum":["UNVERIFIED","PENDING_VERIFICATION","ACTIVE","SUSPENDED","DELETED","INACTIVE"]},"otpPurpose":{"type":"string","enum":["REGISTER","EMAIL_VERIFICATION","PATIENT_LOGIN","PASSWORD_RESET"]},"emailTokenHash":{"type":"string"},"emailTokenExpiresAt":{"type":"string","format":"date-time"},"lastCodeSentAt":{"type":"string","format":"date-time"}}},"Doctor":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"createdAt":{"type":"string","format":"date-time"},"modifiedAt":{"type":"string","format":"date-time"},"createdBy":{"type":"string"},"modifiedBy":{"type":"string"},"authUser":{"$ref":"#/components/schemas/AuthUser"},"firstName":{"type":"string"},"lastName":{"type":"string"},"profilePicture":{"type":"string"},"slmcLicenseNumber":{"type":"string"},"professionalBio":{"type":"string"},"status":{"type":"string","enum":["PENDING_APPROVAL","ACTIVE","SUSPENDED","PAUSED","REJECTED"]},"category":{"type":"string","enum":["COUNSELOR","CLINICAL_COUNSELOR","PSYCHOLOGIST","CLINICAL_PSYCHOLOGIST","MEDICAL_OFFICER_PSYCHIATRY_DIPLOMA","CONSULTANT_PSYCHIATRIST"]},"certifiedDocument":{"type":"string"},"isMobileNumberVerified":{"type":"boolean"},"isEmailVerified":{"type":"boolean"},"gender":{"type":"string"},"documents":{"type":"array","items":{"type":"string"},"uniqueItems":true},"languages":{"type":"array","items":{"type":"string"},"uniqueItems":true},"qualifications":{"type":"array","items":{"type":"string"},"uniqueItems":true},"approvedCustomPriceLkr":{"type":"number"},"slaAlertSent":{"type":"boolean"}}},"DoctorBlockedDate":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"createdAt":{"type":"string","format":"date-time"},"modifiedAt":{"type":"string","format":"date-time"},"createdBy":{"type":"string"},"modifiedBy":{"type":"string"},"doctor":{"$ref":"#/components/schemas/Doctor"},"startTime":{"type":"string","format":"date-time"},"endTime":{"type":"string","format":"date-time"},"reason":{"type":"string"}}},"DoctorRegRequest":{"type":"object","properties":{"email":{"type":"string","format":"email","minLength":1},"password":{"type":"string","maxLength":2147483647,"minLength":8},"firstName":{"type":"string","maxLength":100,"minLength":0},"lastName":{"type":"string","maxLength":100,"minLength":0},"phoneNumber":{"type":"string","minLength":1},"profilePicture":{"type":"string"},"category":{"type":"string","enum":["COUNSELOR","CLINICAL_COUNSELOR","PSYCHOLOGIST","CLINICAL_PSYCHOLOGIST","MEDICAL_OFFICER_PSYCHIATRY_DIPLOMA","CONSULTANT_PSYCHIATRIST"]},"slmcLicenseNumber":{"type":"string"},"certifiedDocument":{"type":"string"}},"required":["category","email","firstName","lastName","password","phoneNumber"]},"ApiResponseUUID":{"type":"object","properties":{"success":{"type":"boolean"},"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"string","format":"uuid"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ValidationError"}},"debug":{"$ref":"#/components/schemas/DebugInfo"}}},"DoctorLoginRequest":{"type":"object","properties":{"identifier":{"type":"string","minLength":1},"password":{"type":"string","minLength":1}},"required":["identifier","password"]},"ApiResponseDoctorLoginResponse":{"type":"object","properties":{"success":{"type":"boolean"},"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/DoctorLoginResponse"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ValidationError"}},"debug":{"$ref":"#/components/schemas/DebugInfo"}}},"DoctorLoginResponse":{"type":"object","properties":{"accessToken":{"type":"string"},"refreshToken":{"type":"string"},"expiresIn":{"type":"integer","format":"int64"},"role":{"type":"string"},"profileComplete":{"type":"boolean"},"emailVerified":{"type":"boolean"}}},"DoctorForgotPasswordRequest":{"type":"object","properties":{"identifier":{"type":"string","minLength":1},"verificationCode":{"type":"string","minLength":1},"newPassword":{"type":"string","maxLength":2147483647,"minLength":8}},"required":["identifier","newPassword","verificationCode"]},"ApiResponseMapStringObject":{"type":"object","properties":{"success":{"type":"boolean"},"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"object","additionalProperties":{}},"pagination":{"$ref":"#/components/schemas/PaginationMeta"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ValidationError"}},"debug":{"$ref":"#/components/schemas/DebugInfo"}}},"ApiResponseBlogShareResponse":{"type":"object","properties":{"success":{"type":"boolean"},"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/BlogShareResponse"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ValidationError"}},"debug":{"$ref":"#/components/schemas/DebugInfo"}}},"BlogShareResponse":{"type":"object","properties":{"shareCount":{"type":"integer","format":"int32"}}},"ApiResponseBlogLikeResponse":{"type":"object","properties":{"success":{"type":"boolean"},"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/BlogLikeResponse"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ValidationError"}},"debug":{"$ref":"#/components/schemas/DebugInfo"}}},"BlogLikeResponse":{"type":"object","properties":{"liked":{"type":"boolean"},"likeCount":{"type":"integer","format":"int32"}}},"VerifyResetTokenRequest":{"type":"object","properties":{"email":{"type":"string","format":"email","minLength":1},"token":{"type":"string","minLength":1}},"required":["email","token"]},"VerifyCodeRequest":{"type":"object","properties":{"identifier":{"type":"string","minLength":1},"verificationCode":{"type":"string","minLength":1}},"required":["identifier","verificationCode"]},"ApiResponseVerifyCodeResponse":{"type":"object","properties":{"success":{"type":"boolean"},"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/VerifyCodeResponse"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ValidationError"}},"debug":{"$ref":"#/components/schemas/DebugInfo"}}},"VerifyCodeResponse":{"type":"object","properties":{"verified":{"type":"boolean"},"accessToken":{"type":"string"},"refreshToken":{"type":"string"},"expiresIn":{"type":"integer","format":"int64"},"role":{"type":"string"}}},"SendCodeRequest":{"type":"object","properties":{"identifier":{"type":"string","minLength":1},"purpose":{"type":"string","enum":["REGISTER","EMAIL_VERIFICATION","PATIENT_LOGIN","PASSWORD_RESET"]}},"required":["identifier","purpose"]},"ResetPasswordRequest":{"type":"object","properties":{"email":{"type":"string","format":"email","minLength":1},"token":{"type":"string","minLength":1},"newPassword":{"type":"string","maxLength":2147483647,"minLength":8}},"required":["email","newPassword","token"]},"RefreshTokenRequest":{"type":"object","properties":{"refreshToken":{"type":"string","minLength":1}},"required":["refreshToken"]},"ApiResponseAuthResponse":{"type":"object","properties":{"success":{"type":"boolean"},"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/AuthResponse"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ValidationError"}},"debug":{"$ref":"#/components/schemas/DebugInfo"}}},"AuthResponse":{"type":"object","properties":{"accessToken":{"type":"string"},"refreshToken":{"type":"string"},"expiresIn":{"type":"integer","format":"int64"},"role":{"type":"string"},"profileComplete":{"type":"boolean"}}},"ForgotPasswordRequest":{"type":"object","properties":{"email":{"type":"string","format":"email","minLength":1}},"required":["email"]},"AdminRegRequest":{"type":"object","properties":{"inviteToken":{"type":"string","minLength":1},"password":{"type":"string","maxLength":2147483647,"minLength":8},"firstName":{"type":"string","minLength":1},"lastName":{"type":"string","minLength":1},"phoneNumber":{"type":"string","minLength":1},"profilePicture":{"type":"string"}},"required":["firstName","inviteToken","lastName","password","phoneNumber"]},"AdminRegResponse":{"type":"object","properties":{"adminId":{"type":"string","format":"uuid"},"email":{"type":"string"},"role":{"type":"string"}}},"ApiResponseAdminRegResponse":{"type":"object","properties":{"success":{"type":"boolean"},"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/AdminRegResponse"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ValidationError"}},"debug":{"$ref":"#/components/schemas/DebugInfo"}}},"PriceRequestRejectRequest":{"type":"object","properties":{"rejectionReason":{"type":"string","minLength":1}},"required":["rejectionReason"]},"AdminLoginRequest":{"type":"object","properties":{"identifier":{"type":"string","minLength":1},"password":{"type":"string","minLength":1}},"required":["identifier","password"]},"AdminLoginResponse":{"type":"object","properties":{"accessToken":{"type":"string"},"refreshToken":{"type":"string"},"expiresIn":{"type":"integer","format":"int64"},"role":{"type":"string"},"profileComplete":{"type":"boolean"},"emailVerified":{"type":"boolean"}}},"ApiResponseAdminLoginResponse":{"type":"object","properties":{"success":{"type":"boolean"},"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/AdminLoginResponse"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ValidationError"}},"debug":{"$ref":"#/components/schemas/DebugInfo"}}},"AdminInviteRequest":{"type":"object","properties":{"email":{"type":"string","format":"email","minLength":1},"role":{"type":"string","minLength":1,"pattern":"ADMIN|FINANCIAL_ADMIN|CONTENT_ADMIN"}},"required":["email","role"]},"ResendInvitationRequest":{"type":"object","properties":{"email":{"type":"string","format":"email","minLength":1}},"required":["email"]},"AdminResendInviteResponse":{"type":"object","properties":{"email":{"type":"string"},"expiresAt":{"type":"string","format":"date-time"}}},"ApiResponseAdminResendInviteResponse":{"type":"object","properties":{"success":{"type":"boolean"},"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/AdminResendInviteResponse"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ValidationError"}},"debug":{"$ref":"#/components/schemas/DebugInfo"}}},"AdminForgotPasswordRequest":{"type":"object","properties":{"identifier":{"type":"string","minLength":1},"verificationCode":{"type":"string","minLength":1},"newPassword":{"type":"string","maxLength":2147483647,"minLength":8}},"required":["identifier","newPassword","verificationCode"]},"DoctorRejectionRequest":{"type":"object","properties":{"reason":{"type":"string","minLength":1}},"required":["reason"]},"BlogRejectRequest":{"type":"object","properties":{"reason":{"type":"string","minLength":1}},"required":["reason"]},"IdentityToggleRequest":{"type":"object","properties":{"shareIdentity":{"type":"boolean"}},"required":["shareIdentity"]},"DoctorStatusUpdateRequest":{"type":"object","properties":{"status":{"type":"string","minLength":1,"pattern":"ACTIVE|PAUSED"}},"required":["status"]},"DoctorProfilePictureRequest":{"type":"object","properties":{"profilePicture":{"type":"string","minLength":1}},"required":["profilePicture"]},"ApiResponseDoctorMeResponse":{"type":"object","properties":{"success":{"type":"boolean"},"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/DoctorMeResponse"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ValidationError"}},"debug":{"$ref":"#/components/schemas/DebugInfo"}}},"DoctorMeResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"firstName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string"},"phoneNumber":{"type":"string"},"profilePicture":{"type":"string"},"status":{"type":"string"},"isProfileComplete":{"type":"boolean"}}},"AdminSuspendResponse":{"type":"object","properties":{"adminId":{"type":"string","format":"uuid"},"status":{"type":"string"}}},"ApiResponseAdminSuspendResponse":{"type":"object","properties":{"success":{"type":"boolean"},"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/AdminSuspendResponse"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ValidationError"}},"debug":{"$ref":"#/components/schemas/DebugInfo"}}},"AdminRoleUpdateRequest":{"type":"object","properties":{"role":{"type":"string","minLength":1,"pattern":"SUPER_ADMIN|ADMIN|FINANCIAL_ADMIN|CONTENT_ADMIN"}},"required":["role"]},"AdminRoleUpdateResponse":{"type":"object","properties":{"adminId":{"type":"string","format":"uuid"},"newRole":{"type":"string"}}},"ApiResponseAdminRoleUpdateResponse":{"type":"object","properties":{"success":{"type":"boolean"},"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/AdminRoleUpdateResponse"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ValidationError"}},"debug":{"$ref":"#/components/schemas/DebugInfo"}}},"ApiResponseListDoctorCardResponse":{"type":"object","properties":{"success":{"type":"boolean"},"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/DoctorCardResponse"}},"pagination":{"$ref":"#/components/schemas/PaginationMeta"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ValidationError"}},"debug":{"$ref":"#/components/schemas/DebugInfo"}}},"DoctorCardResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"firstName":{"type":"string"},"lastName":{"type":"string"},"profilePicture":{"type":"string"},"languages":{"type":"array","items":{"type":"string"},"uniqueItems":true},"startingPrice":{"type":"number"}}},"ApiResponseDoctorDetailResponse":{"type":"object","properties":{"success":{"type":"boolean"},"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/DoctorDetailResponse"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ValidationError"}},"debug":{"$ref":"#/components/schemas/DebugInfo"}}},"DoctorDetailResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"firstName":{"type":"string"},"lastName":{"type":"string"},"profilePicture":{"type":"string"},"professionalBio":{"type":"string"},"gender":{"type":"string"},"languages":{"type":"array","items":{"type":"string"},"uniqueItems":true},"qualifications":{"type":"array","items":{"type":"string"},"uniqueItems":true},"reviews":{"type":"array","items":{"$ref":"#/components/schemas/ReviewResponse"}},"availableSlots":{"type":"array","items":{"$ref":"#/components/schemas/SlotResponse"}},"extraTimePriceLkr":{"type":"number"},"extraTimeMinutes":{"type":"integer","format":"int32"},"slotDurationMinutes":{"type":"integer","format":"int32"}}},"ReviewResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"rating":{"type":"integer","format":"int32"},"reviewText":{"type":"string"},"reviewerNickname":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"SlotResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"startTime":{"type":"string","format":"date-time"},"endTime":{"type":"string","format":"date-time"},"priceLkr":{"type":"number"}}},"ApiResponseListBookingResponse":{"type":"object","properties":{"success":{"type":"boolean"},"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/BookingResponse"}},"pagination":{"$ref":"#/components/schemas/PaginationMeta"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ValidationError"}},"debug":{"$ref":"#/components/schemas/DebugInfo"}}},"ApiResponseListSessionDocumentResponse":{"type":"object","properties":{"success":{"type":"boolean"},"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/SessionDocumentResponse"}},"pagination":{"$ref":"#/components/schemas/PaginationMeta"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ValidationError"}},"debug":{"$ref":"#/components/schemas/DebugInfo"}}},"ApiResponseCheckoutParams":{"type":"object","properties":{"success":{"type":"boolean"},"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/CheckoutParams"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ValidationError"}},"debug":{"$ref":"#/components/schemas/DebugInfo"}}},"SseEmitter":{"type":"object","properties":{"timeout":{"type":"integer","format":"int64"}}},"ApiResponseListPriceRequestResponse":{"type":"object","properties":{"success":{"type":"boolean"},"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/PriceRequestResponse"}},"pagination":{"$ref":"#/components/schemas/PaginationMeta"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ValidationError"}},"debug":{"$ref":"#/components/schemas/DebugInfo"}}},"ApiResponseListDoctorBlockedDate":{"type":"object","properties":{"success":{"type":"boolean"},"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/DoctorBlockedDate"}},"pagination":{"$ref":"#/components/schemas/PaginationMeta"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ValidationError"}},"debug":{"$ref":"#/components/schemas/DebugInfo"}}},"ApiResponseListBlogResponse":{"type":"object","properties":{"success":{"type":"boolean"},"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/BlogResponse"}},"pagination":{"$ref":"#/components/schemas/PaginationMeta"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ValidationError"}},"debug":{"$ref":"#/components/schemas/DebugInfo"}}},"AuthorInfo":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"profilePicture":{"type":"string"}}},"BlogResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"title":{"type":"string"},"summary":{"type":"string"},"coverImage":{"type":"string"},"topics":{"type":"array","items":{"type":"string"},"uniqueItems":true},"likeCount":{"type":"integer","format":"int32"},"views":{"type":"integer","format":"int32"},"status":{"type":"string","enum":["DRAFT","PENDING_REVIEW","PUBLISHED","REJECTED","SUSPENDED"]},"authorType":{"type":"string","enum":["DOCTOR","ADMIN"]},"author":{"$ref":"#/components/schemas/AuthorInfo"},"publishedAt":{"type":"string","format":"date-time"}}},"ApiResponseBlogDetailResponse":{"type":"object","properties":{"success":{"type":"boolean"},"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/BlogDetailResponse"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ValidationError"}},"debug":{"$ref":"#/components/schemas/DebugInfo"}}},"AuthorDetailInfo":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"profilePicture":{"type":"string"},"professionalBio":{"type":"string"}}},"BlogDetailResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"title":{"type":"string"},"content":{"type":"string"},"coverImage":{"type":"string"},"topics":{"type":"array","items":{"type":"string"},"uniqueItems":true},"likeCount":{"type":"integer","format":"int32"},"views":{"type":"integer","format":"int32"},"authorType":{"type":"string","enum":["DOCTOR","ADMIN"]},"author":{"$ref":"#/components/schemas/AuthorDetailInfo"},"publishedAt":{"type":"string","format":"date-time"}}},"AdminUserResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"email":{"type":"string"},"name":{"type":"string"},"role":{"type":"string"},"status":{"type":"string"},"invitedAt":{"type":"string","format":"date-time"},"expiresAt":{"type":"string","format":"date-time"}}},"ApiResponsePageAdminUserResponse":{"type":"object","properties":{"success":{"type":"boolean"},"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageAdminUserResponse"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ValidationError"}},"debug":{"$ref":"#/components/schemas/DebugInfo"}}},"PageAdminUserResponse":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/AdminUserResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"empty":{"type":"boolean"}}},"PageableObject":{"type":"object","properties":{"paged":{"type":"boolean"},"pageSize":{"type":"integer","format":"int32"},"pageNumber":{"type":"integer","format":"int32"},"unpaged":{"type":"boolean"},"offset":{"type":"integer","format":"int64"},"sort":{"$ref":"#/components/schemas/SortObject"}}},"SortObject":{"type":"object","properties":{"sorted":{"type":"boolean"},"unsorted":{"type":"boolean"},"empty":{"type":"boolean"}}},"ApiResponsePageDoctorSummaryResponse":{"type":"object","properties":{"success":{"type":"boolean"},"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageDoctorSummaryResponse"},"pagination":{"$ref":"#/components/schemas/PaginationMeta"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ValidationError"}},"debug":{"$ref":"#/components/schemas/DebugInfo"}}},"DoctorSummaryResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"firstName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string"},"phoneNumber":{"type":"string"},"slmcLicenseNumber":{"type":"string"},"status":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"PageDoctorSummaryResponse":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/DoctorSummaryResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"empty":{"type":"boolean"}}}},"securitySchemes":{"bearerAuth":{"type":"http","description":"Enter your JWT bearer token to authenticate requests.","name":"bearerAuth","scheme":"bearer","bearerFormat":"JWT"}}}}